.front .main-content {
	max-width: 100%;
	width: 100%;
	padding: 120px 0 0 0;
}

.front-header {
	height: 600px;
	width:100%;
	padding-top: 50px;
}

.front-header .item-view {
	height: 100%;
}

.front-header .item-view-title {
	height: 75px;
    font-size: 55px;
    line-height: 75px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    padding-left: 20px;
}

.front-header .item-view-intro {
	color: #FFF;
	max-width: 1024px;
	line-height: 25px;
	padding: 10px 20px 30px 20px;
	font-weight: 300;
}

.front-splash {
	width: 100%;
	height: 100%;
	background-image: url('img/bkg-splash.jpg');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}