.site-notifications {
	margin-top: 100px;
	margin-bottom: -100px;
	position: relative;
	z-index: 1000;
}

.site-notifications .notification {
	color: #FFF;
	background-color: #339933;
	background-image: url('img/icon-error-white-trans.svg');
    background-position: 99% 50%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    padding:8px 6% 8px 1%;
    border-bottom: 1px solid #70C470;
    cursor: pointer;
}

.site-notifications .notification:hover {
	background-color: #44A244;
	background-image: url('img/icon-error-white.svg');
}

.form-container,
.table-container {
	background-color: #FFF;
	margin: 30px;
	border: 1px solid rgba(68,103,144,.2);
	border-radius: 5px;
	-webkit-transition: all 3s;
	box-shadow: 0 0 50px rgba(0,0,0,1);
}

.form-header,
.table-header {
	background-color: rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(68,103,144,.2);
	border-radius: 3px 3px 0 0;
	height: 75px;
	-webkit-transition: all 3s;
	position: relative;
	background-image: url('img/bkg-header.png');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container.success {
	-webkit-transition: all 1s;
}

.form-container.success .form-header {
	-webkit-transition: all 1s;
	background-color: rgba(9,214,29,.2);
}

.detail-container .form-container.success .form-header {
	background-color: transparent;
}

.form-title,
.table-title {
	font-family: "Montserrat", sans-serif;
	color: rgba(68,103,144,1);
	font-size: 30px;
	line-height: 75px;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-left: 30px;
	float: left;
	-webkit-transition: all 3s;
}

.form-container.success .form-title {
	color: rgba(5,99,14,.8);
	-webkit-transition: all 1s;
}

.form-messages {
	float: right;
	margin-right: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.form-message {
	font-family: "Montserrat", sans-serif;
	opacity: 0;
	text-align: right;
	padding-right: 30px;
	background-size: 25px 25px;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	font-size: 15px;
	line-height: 75px;
	text-transform: uppercase;
	-webkit-transition: all 3s;
	position: absolute;
	right: 0;
	top:0;
	width: 100%;
}

.form-container.success .form-message.success,
.form-container.error .form-message.error {
	opacity: 1;
	-webkit-transition: all 1s;
}

.form-message.success {
	color: rgba(5,99,14,.8);
	background-image: url('img/icon-success-green.svg');
}

.form-message.error {
	background-image: url('img/icon-error-red.svg');
}

.form-specs {
	display: inline-block;
	background-color: rgba(255,255,255,.5);
}

.form-spec {
	opacity: 1;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(125,0,0,1);
	text-align: left;
	-webkit-transition: all 4s;
	display: inline-block;
	pointer-events:none;
	text-align: center;
	font-size: .8em;
}

.form-container.success .form-spec,
.form-container.error .form-spec {
	opacity: 0;
	-webkit-transition: all .5s;
}

.form-spec .specs-title {
	display: inline-block;
	margin-right: 25px;
}

.form-indicators .indicator-item {
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
}

.form-spec .spec-item {
	line-height: 50px;
	padding:0 10px;
}

.form-spec .spec-label,
.form-spec .spec-content,
.form-indicators .indicator-label,
.form-indicators .indicator-content {
	display: inline-block;
}

.form-indicators .indicator-label {
	margin-right: 10px;
}

.form-spec .spec-content,
.form-indicators .indicator-content {
	font-weight:300;
}

.form-spec .spec-content {
	padding-left: 5px;
}


.form-footer {
	background-color: rgba(68,103,144,.1);
	border-top: 1px solid rgba(68,103,144,.2);
	min-height: 50px;
	position: relative;
	text-align: right;
}

.form-button,
.form-button-alt {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 50px;
	padding: 0 15px;
	background-color: rgba(68,103,144,1);
	margin-right: 50px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	height: 51px;
    display: inline-block;
    margin-left: 10px;
}

.form-button-alt {
	background-color: rgba(34,118,216,1);
	font-style: italic;
	font-size:.8em;
}

.form-button-alt .button-label {
	display: inline-block;
}

.form-button-alt .button-data {
	margin-left: 6px;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
}

.form-button:hover,
.form-button:focus,
.form-button-alt:hover,
.form-button-alt:focus {
	outline: none;
	background-color: rgba(215,23,8,1);
}


.form-indicators {
	display: inline-block;
	line-height: 45px;
	font-weight: 700;
	font-size: 20px;
	margin-right: 10px;
	text-transform: uppercase;
	color: rgba(68,103,144,1);
}


.form-body .body-column {
	display: inline-block;
	vertical-align: top;
}

.form-content {
	padding: 20px 0;
}

.table-content {
	padding: 20px;
}

.form-body,
.table-body {
	display: table;
	width: 100%;
	height: 100%;
}

.table-row {
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
}

.table-row.header {
	font-weight: 700;
	font-size: 23px;
}

.table-row.even {
	background-color: rgba(100,100,100,.1);
}

.form-body .body-column.half {
	width: 46%;
	height: 100%;
	padding: 0 2%;
	display: table-cell;
}

.table-cell {
	width: 15%;
	padding: 5px 10px;
}

.table-detail {
	display: none;
}

.table-detail.active {
	display: table-row;
}

.table-detail .detail-container {
	position: relative;
	padding: 15px 30px;
}

.table-detail .detail-footer {
	width: 100%;
}

.table-detail .detail-header {
	position: absolute;
    left: 10px;
    display: inline-block;
    width: auto;
    z-index: 2;
}

.table-detail .detail-content {
	width: 96%;
	padding: 2%;
	padding-top: 0;
	padding-bottom: 15px;
    color: rgba(68,103,144,1);
    position: relative;
    left: 30px;
    border: 1px solid rgba(68,103,144,.1);
    border-top: none;
    z-index: 1;
	background: -moz-linear-gradient(top, rgba(236,240,244,0) 0%, rgba(236,240,244,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(236,240,244,0) 0%,rgba(236,240,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(236,240,244,0) 0%,rgba(236,240,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ecf0f4', endColorstr='#ecf0f4',GradientType=0 ); /* IE6-9 */
}

.table-detail .detail-body {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.table-detail .detail-image {
	width: 35%;
	margin-left: 2%;
	display: inline-block;
	vertical-align: top;
}

.table-detail .detail-image img {
	max-width: 100%;
}

.table-detail .detail-item {
	margin: 5px 0;
}

.table-detail .detail-item .item-label,
.table-detail .detail-item .item-content {
	display: inline-block;
}

.table-detail .detail-item .item-label {
	font-weight: 700;
}

.table-detail .detail-item .item-content {
	margin-left: 10px;
	font-weight: 300;
}

.table-detail .action-button {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 20px;
	font-size: .8em;
	padding: 0;
	background-image: url('img/icon-error-blue.svg');
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 3px;
}

.table-detail .action-button:hover,
.table-detail .action-button:focus {
	outline: none;
	background-image: url('img/icon-error-red.svg');
}

.action-cell {
	cursor: pointer;
}

.button-cell {
	font-weight: 700;
	text-transform: uppercase;
	font-size: .85em;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

.action-cell:hover {
	color: #FFF;
	background-color: rgba(68,103,144,1);
	
}

.form-item {
	margin: 10px;
}

.form-item.noedit {
	background-color: rgba(200,200,200,.1);
	padding: 10px 10px 0 10px;
	margin: 0 0 0 10px;
}

.form-item.noedit input {
	width: 96%;
	background-color: rgba(200,200,200,.1);
	color: rgba(0,0,0,.3);
	font-style: italic;
}

.form-item.noedit input:disabled {
	background-color: transparent;
	color: rgba(0,0,0,.7);
	font-style: normal;
}

.form-item.noedit.first {
	margin-top: 15px;
	padding-top:15px;
}

.form-item .item-label {
	font-size: 15px;
    line-height: 25px;
	opacity: .6;
}

.form-item.noedit .item-label {
	font-size: 13px;
    line-height: 16px;
	font-weight: bold;
}

.form-item input,
.form-item select {
	width: 100%;
	background: none;
	border: none;
	font-size: 20px;
	line-height: 30px;
	padding: 0 6px;
	font-weight: 300;
	border: 1px solid rgba(68,103,144,.1);
	background-color: rgba(180,195,213,.1);
	border-radius: 2px;
	color: rgba(68,103,144,.9);
	box-sizing: border-box;
}

.form-item input:focus,
.form-item select:focus {
	outline: none;
	border: 1px solid rgba(68,103,144,.3);
}

.form-item input:disabled {
	border: none;
	padding: 0;
	font-size: 16px;
}

.form-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('img/icon-arrow-down.svg'); 
    background-position:98% 50%;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.form-image {
	width: 100%;
	height: 100%;
	padding-top: 2em;
}

.form-image .item-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	min-height: 300px;
}

.form-image .item-image:hover {
	background-size: cover;
	background-position: 50% 50%;
}

.table-detail .form-container {
	background-color: transparent;
	box-shadow: none;
	border: none;
	margin: 0;
}

.table-detail .form-header {
	background: none;
	height: 50px;
	border: none;
}

.table-detail .form-title {
	padding: 0;
	line-height: 50px;
}

.table-detail .form-content {
	padding: 0;
}

.table-detail .body-column.half {
	padding: 0;
	padding-right: 2%;
}

.table-detail .form-footer {
	background-color: transparent;
	border: none;
}

.table-detail .form-button,
.table-detail .form-button-alt {
	margin: 0;
}

.table-detail .form-button,
.table-detail .form-button-alt {
	margin-left: 10px;
}

body[name="list-auctions"] .table-detail .form-body {
	width: 50%;
}

body[name="list-auctions"] .table-detail .form-footer {
	text-align: left;
	padding-left: 15px;
}











