.item-view-title {
	height: 65px;
    font-size: 45px;
    line-height: 65px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    padding-left: 20px;
}

.front-header .item {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	height: 100%;
	position: relative;
}

.page-category .item {
	position: relative;
	height: 800px;
	width:800px;
	margin: 80px auto;
}

.front-header .item-header {
	height:50%;
}

.page-category .item-header {
	height: 70%;
}

.item-view .item-image {
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.item-view .item-content {
	background-color: rgba(0,0,0,.2);
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
	padding: 0 .3em;
}

.item-view .item-details {
	background-color: rgba(0,0,0,.4);
	padding: .3em;
	border-top: 5px solid #0075ff;
}

.item-view .item-title {
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: .6em;
	font-weight: 100;
	
}

.item-view .item-title .detail-label {
	display: none;
}

.item-view .detail-label {
	margin-top: .5em;
	font-weight: 700;
	font-size: .8em;
}




.front-header .item-footer {
	position: absolute;
	top: 50%;
	height: 20px;
	width: 100%;
	margin-top: -1.5em;
}

.page-category .item-footer {
	position: absolute;
	top: 70%;
	height: 30px;
	width: 100%;
	margin-top: -1.5em;
}


.item-footer .action-button {
	line-height: 1.2em;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background-color: #123d70;
    color: #FFF;
    float: right;
    display: inline-block;
    padding: .1em .5em;
    margin-left: .1em;
    cursor: pointer;
}

.item-footer .action-button:hover {
	background-color: #0075ff;
}



















