<!DOCTYPE html>
<html>
<head>
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<meta charset="utf-8">

	<title>IT People :: IBM Blockchain Application</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="../style/style.css" media="screen" rel="stylesheet" type="text/css">
	<link href="../style/style-front.css" media="screen" rel="stylesheet" type="text/css">
	<link href="../style/style-item.css" media="screen" rel="stylesheet" type="text/css">
	<link href="../style/style-form-list.css" media="screen" rel="stylesheet" type="text/css">
	<script src="../js/jquery-2.2.4.min.js"></script>
	<script src="../js/jquery-mousewheel.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/main-application.js"></script>
	<script src="../js/main-init.js"></script>
	<script src="../js/form.js"></script>
	<script src="../js/form-application.js"></script>
	<script src="../js/form-init.js"></script>
</head>

<body class="front" name="front">

<div class="site-header">
	<div class="header-left">
		<div class="header-branding"></div>
	</div>
	<div class="header-right">
		<div class="header-menu">
			<div class="menu-item action-load-form" form-name="user-register">
				<div class="item-label">Create Account</div>
			</div>
			<div class="menu-item">
				<div class="item-label primary-event" menu-name="actions">Actions</div>
				<div class="item-content">
					<div class="sub-menu">
						<div class="menu-item action-load-form" form-name="item-register">
							<div class="item-label">Register Item</div>
						</div>
						<!--div class="menu-item action-load-form" form-name="item-auction">
							<div class="item-label">Auction Item</div>
						</div-->
						<div class="menu-item action-load-form" form-name="list-bidding">
							<div class="item-label">Bid on Item</div>
						</div>
						<div class="menu-item action-load-list" list-name="list-auctions">
							<div class="item-label">Auctions</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="item-label primary-event" menu-name="categories">Categories</div>
				<div class="item-content">
					<div class="sub-menu">
						<div class="menu-item action-load-page" page-name="category-paintings" id="modern">
							<div class="item-label">Modern</div>
						</div>
						<div class="menu-item action-load-page" page-name="category-paintings" id="landscape">
							<div class="item-label">Landscape</div>
						</div>
						<!--div class="menu-item">
							<div class="item-label">Category Three</div>
						</div>
						<div class="menu-item">
							<div class="item-label">Category Four</div>
						</div>
						<div class="menu-item">
							<div class="item-label">Category Five</div>
						</div-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="site-main">
	<div class="main-content">
		<div class="front-header">
			<div class="item-view-container">
				<div class="item-view-title">Auction chain</div>
				<!--div class="item-view-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec orci mollis, finibus ipsum volutpat, vehicula velit. Quisque venenatis erat vitae interdum venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div-->
				<div class="item-view-nav">
					<div class="nav-arrow left"></div>
					<div class="nav-arrow right"></div>
				</div>
				<div class="item-view horizontal"></div>
			</div>
		</div>
	</div>
</div>


<div class="site-footer">
	<div class="footer-left">© 2016 IT People Corporation. All rights reserved.</div>
	<div class="footer-right">Legal&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Privacy Policy&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;DMCA</div>
</div>

</body>
</html>
