<!DOCTYPE html>
<html>
<head>
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<meta charset="utf-8">

	<title>IT People :: IBM Blockchain Application</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="style/style.css" media="screen" rel="stylesheet" type="text/css">
	<link href="style/style-form-list.css" media="screen" rel="stylesheet" type="text/css">
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/jquery-mousewheel.js"></script>
	<script src="js/main.js"></script>
	<script src="js/main-application.js"></script>
	<script src="js/main-init.js"></script>
	<script src="js/form.js"></script>
	<script src="js/form-application.js"></script>
	<script src="js/form-init.js"></script>
	<script src="js/table.js"></script>
  <script src="js/table-application.js"></script>
  <script src="js/table-init.js"></script>
</head>

<body class="form-page" name="item-detail">

<div class="site-header">
	<div class="header-left">
		<div class="header-branding"></div>
	</div>
	<div class="header-right">
		<div class="header-menu">
			<div class="menu-item action-load-form" form-name="user-register">
				<div class="item-label">Create Account</div>
			</div>
			<div class="menu-item">
				<div class="item-label primary-event" menu-name="actions">Actions</div>
				<div class="item-content">
					<div class="sub-menu">
						<div class="menu-item action-load-form" form-name="item-register">
							<div class="item-label">Register Item</div>
						</div>
						<!--div class="menu-item action-load-form" form-name="item-detail">
							<div class="item-label">Auction Item</div>
						</div-->
						<div class="menu-item action-load-form" form-name="list-bidding">
							<div class="item-label">Bid on Item</div>
						</div>
						<div class="menu-item action-load-list" list-name="list-auctions">
							<div class="item-label">Auctions</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-item">
				<div class="item-label primary-event" menu-name="categories">Categories</div>
				<div class="item-content">
					<div class="sub-menu">
						<div class="menu-item action-load-page" page-name="category-paintings" id="modern">
							<div class="item-label">Modern</div>
						</div>
						<div class="menu-item action-load-page" page-name="category-paintings" id="landscape">
							<div class="item-label">Landscape</div>
						</div>
						<!--div class="menu-item">
							<div class="item-label">Category Two</div>
						</div>
						<div class="menu-item">
							<div class="item-label">Category Three</div>
						</div>
						<div class="menu-item">
							<div class="item-label">Category Four</div>
						</div>
						<div class="menu-item">
							<div class="item-label">Category Five</div>
						</div-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="site-main">
	<div class="main-content">
		<div class="form-container">
			<div class="form-header">
				<div class="form-title">Item Details</div>
				<div class="form-messages">
					<div class="form-message success">Item submitted for Auction successfully</div>
					<div class="form-message error">Item submitted for Auction failed</div>
				</div>
			</div>
			<div class="form-content">
				<div class="form-body">
					<div class="body-column column-1 half">
						<div class="form-item">
							<div class="item-label">Auction Item #</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_id" id="art_id" type="text" value="" tabindex="1">
								</div>
							</div>
						</div>
						<div class="form-item noedit first">
							<div class="item-label">Description</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_description" id="art_description" type="text" value="" tabindex="6">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Other Details</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_artist" id="art_artist" type="text" value="" tabindex="2">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Date of Creation</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_date" id="art_date" type="text" value="" tabindex="7">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Type</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_type" id="art_type" type="text" value="" tabindex="3">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Subject Area</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_subject" id="art_subject" type="text" value="" tabindex="8">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Media</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_media" id="art_media" type="text" value="" tabindex="4">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Size</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_size" id="art_size" type="text" value="" tabindex="9">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Purchase Price in $</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_price" id="art_price" type="text" value="" tabindex="9">
								</div>
							</div>
						</div>
						<div class="form-item noedit">
							<div class="item-label">Current Owner ID</div>
							<div class="item-content">
								<div class="form-input">
									<input disabled name="art_owner" id="art_owner" type="text" value="" tabindex="5">
								</div>
							</div>
						</div>
					</div>
					<div class="body-column column-2 half">
						<div class="form-image">
							<div class="item-image" id="art_image" style="background-image:url('');"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-footer">
				<div class="form-indicators"></div>
				<div class="form-button" tabindex="10">
					<div class="button-label" id='art_submit_auction'>Put on Auction</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="site-footer">
	<div class="footer-left">© 2016 IT People Corporation. All rights reserved.</div>
	<div class="footer-right">Legal&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Privacy Policy&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;DMCA</div>
</div>

</body>
</html>
